f0D32k.pth
f0D40k.pth
f0D48k.pth
f0G32k.pth
f0G40k.pth
f0G48k.pth
D32k.pth
D40k.pth
D48k.pth
G32k.pth
G40k.pth
G48k.pth
D-f032k-TITAN-Medium.pth
D-f040k-TITAN-Medium.pth
D-f048k-TITAN-Medium.pth
G-f032k-TITAN-Medium.pth
G-f040k-TITAN-Medium.pth
G-f048k-TITAN-Medium.pth
